
<!-- Start with the header -->
<section class="header" id="header">

    <!-- <a class="tab pi-default pi-big pi-flat" href="/"><i class="fa fa-hand-o-right"></i> Contact</a> -->


<!-- nav -->

      {% include nav.html %}

<!-- /nav -->


    <!-- Main Head Title -->
    <div class="heading-block">
    {% if site.title %}
        <h2>
            <a href="{{site.baseurl}}/">
                <img class="heading-logo" src="/img/pampiridam_logo_heading_transparent_v2.png" alt="pampiridam logo" />
                <span style="font-size: 0px;">{{site.title}}</span>
            </a>
        </h2>
    {% endif %}

    {% comment %}
    {% if site.smalltalk %}<p>Music school for everyone!</p>{% endif %}
    {% endcomment%}
    </div>

</section>






